<!--stuff that will appear in main.handlebars-->
    <div class="container">
        <div class="row center" id="topScreen">
            <h4 class="center">Game Name</h4>
            <a class="waves-effect waves-light btn-large internal-link">Start</a>
            <a href="/user"><button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-list-alt"></span>START</button></a>
        </div>
    </div> 

    
    <ul>
        <p>{{{text}}}</p>
        <br>
        <br>
<<<<<<< HEAD
        
        <a class="choice" href="/{{{choice1.value}}}">{{choice1.name}}</a>
=======
        <a class="choice" href="/runGame/{{choice1.value}}">{{choice1.name}}</a>
>>>>>>> b32683ba29a236831e7b813d6ceb62cab061e444
        <br>
        <a class="choice" href="/runGame/{{choice2.value}}">{{choice2.name}}</a>
        <br>
        <a class="choice" href="/runGame/{{choice3.value}}">{{choice3.name}}</a>
    </ul>